/* Navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #1b0e22;
  background-image: url('	https://te.dynamiclayers.net/galactic/assets/img/body-bg.jpg');
  background-repeat: repeat;
  background-position: 0 0;
  font-family: 'Oxanium', sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #ddd;
  font-weight: 400;
  letter-spacing: -0.2px;
  position: relative;
}

.navbar{
  background: #0c0c35;;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #ffdd57;
}

/* Login form */
.modal-content {
  background: rgb(39 39 42);
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  gap: 1.25rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.transform-btn {
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, #a855f7, #ec4899);
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
  text-decoration: none;  
}

.transform-btn:hover {
  background: linear-gradient(to right, #9333ea, #db2777);
  transform: scale(1.05);
}

.cancel-btn {
  padding: 0.5rem 1rem;
  background-color: #374151;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cancel-btn:hover {
  background-color: #4b5563;
}

.button-form-cancel {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 190px;
  border: 2px dashed #ccc;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
}

.input-title {
  width: 100%;
  background-color: #3f3f46;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
  border: 1px solid #4b5563;
  outline: none;
  transition: all 0.3s ease;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-title:focus {
border-color: #a855f7;
box-shadow: 0 0 0 2px rgba(168, 85, 247, 0.5);
}
.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  border-radius: 11px;
}

.form-error {
  text-align: center;
  color: red;
  display: none;
}

.user-error {
  text-align: center;
  color: red;
  display: none;
}